*{
    margin: 0;
    padding: 0;
}


h1{
    position: fixed;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 20px;
    z-index: 9999; 
}

h2 a {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(calc(-50% + 0.4em));
    z-index: 9999;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.8em;
}

h4 a {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    
}


.n1 {
    position: fixed;
    top: 0;
    left: 0%;
    width: 43%;
    height: 88%;
    background-image: url('image/piece_n1.png');
    background-size: cover;
}

.n2 {
    position: fixed;
    top: 0;
    left: 43%;
    width: 43%;
    height: 63%;
    background-image: url('image/piece_n2.png');
    background-size: cover;
}

.n3 {
    position: fixed;
    top: 63%;
    left: 43%;
    width: 43%;
    height: 25%;
    background-image: url('image/piece_n3.png');
    background-size: cover;
}

.n4 {
    position: fixed;
    top: 0;
    right: 0;
    width: 14%;
    height: 100%;
    background-image: url('image/piece_n4.png');
    background-size: cover;
}

.n5 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 86%;
    height: 12%;
    background-image: url('image/piece_n5.png');
    background-size: cover;
}


@media (max-width: 900px) {
     .n1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9%;
    background-image: url('image/mobile piece_n1.png');
    background-size: cover;
    }

    .n2 {
    position: fixed;
    top: 9%;
    left: 0;
    width: 100%;
    height: 42%;
    background-image: url('image/mobile piece_n2.png');
    background-size: cover;
    }

    .n3 {
    position: fixed;
    top: 51%;
    left: 0;
    width: 100%;
    height: 29%;
    background-image: url('image/mobile piece_n3.png');
    background-size: cover;
    }

    .n4 {
    position: fixed;
    top: 80%;
    left: 0;
    width: 32%;
    height: 20%;
    background-image: url('image/mobile piece_n4.png');
    background-size: cover;
    }

    .n5 {
    position: fixed;
    bottom: 0;
    left: 32%;
    width: 68%;
    height: 20%;
    background-image: url('image/mobile piece_n5.png');
    background-size: cover;
    }
}
