* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

li
    {
    flex: 1;
    height: calc (100% / 5);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items:   flex-start;
    padding: 12px;
    }

.title {
    font-size: 10px;
    color:  white;
    text-decoration:  none;
    font-weight: normal; 
    }

h1{
    font-size: 30px;
    color: white;
    position: fixed;
    top: 5%;
    left: 5%;
    font-weight: bold; 
}

h2 a {
    position: fixed;
    bottom: 5%;
    left: 5%;
    font-size: 14px;
    font-weight: normal; 
    color: pink;
}


@media (max-width: 768px) {

    ul li:nth-child(1) {
        background-image: url('image/mobile home_g.png') !important;
    }

    ul li:nth-child(2) {
        background-image: url('image/mobile home_d.png') !important;
    }

    ul li:nth-child(3) {
        background-image: url('image/mobile home_n.png') !important;
    }

    ul li:nth-child(4) {
        background-image: url('image/mobile home_b.png') !important;
    }

    ul li:nth-child(5) {
        background-image: url('image/mobile home_i.png') !important;
    }
}
