* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

li {
    flex: 1;
    height: calc(100% / 5);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 12px;
}

.title {
    font-size: 10px;
    color: white;
    text-decoration: none;
    font-weight: normal;
}

h1{
    font-size: 43px;
    color: white;
}

h2 a {
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    text-decoration: none;
    color: pink;
    font-size: 14px;
    font-weight: 300; 
}

.천{
    position: fixed;
    top: 5%;
    left: 5%;
}

.장{
    position: fixed;
    top: 5%;
    right: 5%;
}

.조{
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.각{
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.조2{
    position: fixed;
    bottom: 5%;
    left: 5%;
}

.각2{
    position: fixed;
    bottom: 5%;
    right: 5%;
}
   



.title {
    font-size: 15px;
    text-decoration: none;
    color: white;
}


@media (max-width: 768px) {

    ul li:nth-child(1) {
        background-image: url('image/mobile home_g.png') !important;
    }

    ul li:nth-child(2) {
        background-image: url('image/mobile home_d.png') !important;
    }

    ul li:nth-child(3) {
        background-image: url('image/mobile home_n.png') !important;
    }

    ul li:nth-child(4) {
        background-image: url('image/mobile home_b.png') !important;
    }

    ul li:nth-child(5) {
        background-image: url('image/mobile home_i.png') !important;
    }
}
