* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

.a {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#a, #fullImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 a{
    text-decoration: none;
    position: fixed;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 20px;
}

h2 {
    text-decoration: none;
    position: fixed;
    top: 30px;
    right: 30px;
    color: white;
    font-size: 15px;
    font-weight: normal;
}

h3 a {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(calc(-50% + 0.4em));
    z-index: 9999;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.8em;
}


h4 a {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    text-decoration: none;
    color: pink;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    
}




