* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

.a {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#a, #fullImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 a{
    text-decoration: none;
    position: fixed;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 20px;
}

h2 {
    text-decoration: none;
    position: fixed;
    top: 30px;
    right: 30px;
    color: white;
    font-size: 15px;
    font-weight: normal;
}


